---
# main.scss
---

@charset "utf-8";

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials

/* ==========================================================================
   Comments
   ========================================================================== */

#comment-form-reply {
  display: inline;
}

.comment {
  @include clearfix();
  margin: 1em 0;
  position: relative;
  margin-bottom: 4em;
  font-size: 0.9em;

  &:not(:last-child) {
    border-bottom: 1px solid $border-color;
  }

  // comment replies
  &.child {
    margin-left: 4.5em;

    &:before,
    &:after {
      position: absolute;
      left: 1.5em;
      content: '';
      width: 0.5em;
      background-color: #e3e3e3;
    }

    &:before {
      top: -3em;
      height: 2em;
    }

    &:after {
      top: 4em;
      bottom: -1em;
    }
  }
}

.comment__avatar-wrapper {
  float: left;
  width: 60px;
  height: 60px;
  margin-right: 20px;

//  @include breakpoint($large) {
//    width: 100px;
//    height: 100px;
//  }

}

.comment__message {
  margin: 0;
  margin-left: 80px;

  a {
    text-decoration: none;
  }
}

.comment__reply {
  margin: 0;
  margin-left: 80px;

  a {
    text-decoration: none;
  }
}